<?xml version="1.0" ?>
<launch>
    <!-- The transformation from camera_frame to end-effector -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_ee" 
          args="0.030359  0.130153 -0.039355 -0.000723 -0.006191 -0.999975  0.003434 iiwa_link_ee camera_color_optical_frame" />
    
    <!-- The transformation from probe_center to end-effector -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="probe_to_ee" 
          args="0.0  0.0 0.1965 0.0 0.0 0.0  1 iiwa_link_ee probe" />

</launch>